@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

/* global */
body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
  background:rgba(0,0,0,0.1);
  font-family: sans-serif;

}
h4{ 
  text-transform: uppercase;
  font-size: 18px;
}

a{
  color: white;
}
a:hover{
  text-decoration: none;
  color:inherit;
}
/* -global */

/* helper */
.ml{
  margin-left: 10px;
}
.light {
  font-weight: 200;
}
.bold {
  font-weight: 600;
}
.blue {
  color: #0082c8;
}
.f25 {
  font-size: 25px;
}
.mt50{
  margin-top:50px;
}
.mb50{
  margin-bottom:50px;
}
/* -helper */

/* header */
.rect {
  height: 30vh;
  color: white;
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  z-index: 1;
}

header {
  position: relative;
  z-index: 2;
  color: white;
  height: 100%;
  max-height: 100%;
}
header .box{
  margin-top: 50px;
}

.description .informations h3{
  margin:25px 0;
}

header h1 {
  text-transform: uppercase;
  font-size: 25px;
}
header h2{
  font-weight: 200;
  font-size: 17px;
}
.description {
  background:white;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
}

.description p {
  color: grey;
}

.picture {
  background-position: center center;
  background-size: cover;
  min-height: 200px;
}
.socials {
  padding: 10px;
  background:#0082c8;

}
/* -header */

/* skills */

h3.lip{
  margin:0;
  padding:10px 10px;
  font-size:20px;
  font-weight:lighter;
  text-transform:uppercase;
  background:#0082c8;
  color:white;
}
/* -skills */

/* percentage */
.bar{
  height: 30px;  
  overflow: hidden;
  background: rgba(0,0,0,.25)
}
.bar .filler{
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 30px;
}
.percentage {
  margin:0 0 50px;
}
.percentage p{
  padding: 0;
  margin:0;
}

/* -percentage */

/* experience */
.tab {
  padding: 20px;
  background:white;
  color: grey;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
}
.technology{
  background:rgba(0,0,0,.3);
  padding: 5px;
  min-width:50px;
  text-align: center;
  color:white;
  border-radius: 5px;
  margin-right: 5px;
}
.tab.default{
  border-top:2px solid #0082c8;

}
a.default{
  background:#0082c8;
  border-color: #0082c8;
  color: white;
  padding: 10px;
}

.tab.nova{
border-top: 2px solid#00b072;
}
a.nova{
  background:#00b072;
  border-color: #00b072;
  color: white;
  padding: 10px;
}

.tab.gamers{
  border-top: 2px solid#FF5722;
  }
  a.gamers{
  background: #FF5722;
    border-color: #FF5722;
    color: white;
    padding: 10px;
  }

.tab.sofud{
  border-top:2px solid #e52a44;
}
a.sofud{
  background:#e52a44;
  border-color:#e52a44;
  color: white;
  padding: 10px;
}
.tab.hire{
  background:#0082c8;
  color: white;
}
.tab.hire i{
  color: yellow;
}
a.hire {
  background:yellow;
  border-color:yellow;
  color: #0082c8;
  padding: 10px;
}

.tab i {
  color: rgba(0,0,0,.4);
  margin: 10px 0;
}

/* -experience */

